**Importando os dados**

Biblioteca *pandas*: é uma biblioteca que permite uma rápida, poderosa, flexível e fácil análise de dados por meio da linguagem de programação Python.

Pandas: https://pandas.pydata.org/

In [3]:
import pandas as pd #normalmente, quando realiza-se a importação da biblioteca pandas usa-se um apelido para ela, por meio do comando 'as'

# os dados utilizados para esse estudo foram retirados do GitHub da Alura Cursos, conforme o link abaixo
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.1/movies.csv"

filmes = pd.read_csv(uri) #lendo os dados da uri

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

**Manipulando os dados**

In [4]:
filmes.head() # cinco primeiros elementos da tabela csv

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

Se nos atentarmos a tabela exibida veremos que as colunas estão nomeadas na língua inglesa, o que para muitos pode ser um obstáculo! Por isso vamos agora substituir esses **rótulos** para a língua portuguesa.

In [6]:
filmes.columns # exibindo os rótulos de cada coluna

Index(['movieId', 'title', 'genres'], dtype='object')

In [9]:
# substituindo os nomes de cada coluna
filmes.columns = ['filmesId', 'titulo', 'generos']
filmes.head()

   filmesId  ...                                      generos
0         1  ...  Adventure|Animation|Children|Comedy|Fantasy
1         2  ...                   Adventure|Children|Fantasy
2         3  ...                               Comedy|Romance
3         4  ...                         Comedy|Drama|Romance
4         5  ...                                       Comedy

[5 rows x 3 columns]

Agora que finalizamos a manipulação inicial dos dados dos filmes passemos para a manipulação dos dados correspondentes as **notas** de cada filmes. 

Da mesma forma, os dados correspondentes as notas foram retirados do GitHub da Alura Cursos.

In [10]:
uri_notas = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv"
notas = pd.read_csv(uri_notas)
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [12]:
# substituindo os rótulos das colunas
notas.columns = ['usuarioId', 'filmeId', 'nota', 'tempo']
notas.head()

   usuarioId  filmeId  nota      tempo
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

PRIMEIRA ANÁLISE: qual a maior nota?

In [16]:
notas['nota'] #series é uma sequência de valores

notas['nota'].unique() # analisando quais são os valores que aparecem nessa série

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

Ou seja, as notas dadas aos filmes variam de 0.5 até 5!

In [18]:
# valor mínimo
notas['nota'].min()

0.5

In [19]:
# média
notas['nota'].mean()

3.501556983616962

ANÁLISE GERAL: descrevendo todo o conteúdo.

In [21]:
notas.describe()

           usuarioId        filmeId           nota         tempo
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09